
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h1 class="display-6">Add Comment</h1>

    <form th:action="@{/comment/add}" method="POST">

        <input type="hidden" name="blogId" th:value="${blogId}" id="blogId">
<!--        <input type="hidden" name="liked" th:value=0 id="liked">-->
<!--        <div class="mb-3">-->
<!--            <label for="nameInput" class="form-label">Username</label>-->
<!--            <input id="nameInput" type="text" class="form-control" name="username">-->
<!--        </div>-->
        <div class="mb-3">
            <label for="commentTextInput" class="form-label">Comment</label>
            <input id="commentTextInput" type="text" class="form-control" name="commentText">
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
</div>
</body>
</html>

